{:paths
 ["src/tasks"]

 :tasks
 {:init
  (do
    (require 'tasks)
    (def source-paths ["src" "test"]))

  setup-hooks
  tasks/setup-git-hooks

  format-check
  {:task (apply tasks/cljstyle "check" source-paths)}

  format-fix
  {:task (apply tasks/cljstyle "fix" source-paths)}

  lint
  {:task (tasks/clj-kondo-lint source-paths)}

  release
  {:doc  "Release to Clojars"
   :task (do
           (shell "lein vcs tag v")
           (shell "git push --follow-tags")
           (shell "lein deploy clojars"))}

  test
  (clojure "-A:test")

  test-cljs
  (shell "shadow-cljs" "watch" "test" "-A:test-deps:test-cljs")

  test-cljs-once
  (do
    (shell "npx" "shadow-cljs" "compile" "ci")
    (shell "npx" "karma" "start" "--single-run"))}}
